name: Android Release

on:
  push:
    branches: [ "main", "android-app" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x androidApp/gradlew

    - name: Build with Gradle
      run: cd androidApp && ./gradlew assembleDebug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-debug
        path: androidApp/app/build/outputs/apk/debug/app-debug.apk
